Babel==2.1.1
Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
SQLAlchemy==1.0.8
Sphinx==1.3.1
Werkzeug==0.10.4
alabaster==0.7.6
argparse==1.2.1
charmy==0.1
decorator==4.0.4
docutils==0.12
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pytz==2015.6
requests==2.8.0
simplegeneric==0.8.1
six==1.4.0
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.9
traitlets==4.0.0
wsgiref==0.1.2
